.form-container{
    padding:10px;
    padding-bottom:25px;
    margin:0 auto;
    margin-top:20px;
    width:100%;
    border-radius:20px;
    background-color: #ececec;
}

.add-one{
    color:green;
    text-align:center;
    font-weigth:bolder;
    cursor:pointer;
    margin-top:10px;
}

.delete{
    color:white;
    background-color:rgb(231, 76, 60);
    text-align:center;
    margin-top:6px;
    font-weight:700;
    border-radius:5px;
    min-width:20px;
    cursor:pointer;
}

#singlebutton{
    width:100%;
    margin-top:20px;
}

.title{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}

.dynamic-element{
    margin-bottom:0px;
}
.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: #8a9db3;
    color: #1d1a99;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

.panel-heading{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
